* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

header {
    background-color: red;
    height: 15%;
}

.menu {
    list-style-type: none;
    background-color: yellow;
    display: flex;
}

.menu li {
    border-left: 1px solid black;
    width: 20%;
}

.main {
    background-color: green;
    height: 70%;
}

footer {
    background-color: pink;
    height: 15%;
}